# Arquivos de sistema (Windows/Mac)
Thumbs.db
.DS_Store

# Configurações de Editores
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/

# Se você usar algum empacotador no futuro
node_modules/
dist/
build/
